.avatar{
    class: rounded-circle p-1 m-1;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.test-image{
    vertical-align: middle;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.small-avatar{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


h1 {
    color: #ef6155
}

.container{
  display:table;
  border: 1px;
 }

.left{
  display:table-cell;
  width:50.0vw;
  display: inline-block;
  vertical-align: top;
}
.right{
  margin: 25px 50px 75px 100px;
  display:table-cell;
  width:50.0vw;
  vertical-align: top;
}