<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" >
    <meta charset="UTF-8">
    <title>{{ title }} </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">TMB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'test:list' %}">Test Suites <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'leaderboard' %}">Leader board <span class="sr-only">(current)</span></a>
      </li>
      <!--
      <li class="nav-item active">
        <a class="nav-link" href="#">Teachers <span class="sr-only">(current)</span></a>
      </li>
      -->
    </ul>

   <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'user_account:contact_us' %}">Contact us</a>
                    </li>

                    <li class="nav-item">
                        <img class="small-avatar" src="{{ user.image.url }}" alt="" />
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'user_account:profile' %}">Profile ( {{ user.username }} )</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_account:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'user_account:login' %}">Login</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'user_account:registration' %}">Register</span></a>
                    </li>
                {% endif %}
            </ul>

  </div>

</nav>

{% if messages %}
<div class="alert alert-success" role="alert">
<ul>
    {% for message in messages %}
    <li
        {% if message.tags %} class="{{ message.tags }}"{% endif %}
    class="li-message">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>

<div class="border rounded text-center p-3 m-3 bg-light text-dark">
    <h3>{% block title %}{{ title }}{% endblock %}</h3>
</div>

<div class="container">
    <h2>{{ title }}</h2>

{% block content %}
{% endblock %}

</div>


</body>
</html>