{% extends 'base.html' %}

{% block content %}

{% if users_list %}
    <table class="table table-hover" border="1px">
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Number of tests</th>
          <th>Max score</th>
          <th>Time of last run</th>
          <th>Score total</th>
          <th>% of successful runs</th>
        </tr>
        {% for user in users_list %}
            <tr>
              <td> {{ user.username }} </td>
              <td> {{ user.first_name }} {{ user.last_name }}</td>
              <td> {{ user.test_results.count|default:"No results" }}</td>
              <td> {{ user.best_result|default:"No results" }}</td>
              <td> {{ user.last_test_run|default:"No results" }}</td>
              <td> {{ user.score_total|default:"No results" }}</td>
              <td> {{ user.percentage_of_successful_runs|default:"No results" }}</td>
            </tr>
        {% endfor %}
    </table>

    {% include 'pagination.html' %}

{% else %}
    <p>Sorry, list is empty</p>
{% endif %}

{% endblock %}