<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }} </title>
</head>
<body>


{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for answer in answers %}
            <div class="checkbox">
              <label><input type="checkbox" name="{{ forloop.counter }}" value="1">   {{ answer }}</label>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Submit</button>
        <a href="#" class="btn btn-light"><< Previous</a>
        <a href="#" class="btn btn-light">Next >></a>

    </form>
{% endblock %}

</body>
</html>