{% extends 'base.html' %}
{% load math %}

{% block title %}
{{ block.super }}
{% with percentage=question.number|div:question.test.questions_count|mult:100|floatformat:2 %}
{% expr '(%1 -1)/%2*100' question.number question.test.questions_count as percent %}

    Question #{{ question.number }} ({{ percent|floatformat:2 }}): <b>{{ question.text }}</b>

<div class="progress mt-4">
  <div class="progress-bar" role="progressbar" style="width: {{ percent }}%" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endwith %}
{% endblock %}



{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for answer in answers %}
            <div class="checkbox">
              <label><input type="checkbox" name="{{ prefix }}{{ forloop.counter }}" value="1">{{ answer }}</label>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Submit</button>
        <!--
        <a href="{{ question.prev }}" class="btn btn-light"><< Previous</a>
        <a href="{% url 'test:next' pk=question.test.id %}" class="btn btn-light">Next >></a>
        -->
    </form>
{% endblock %}

