{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
    Question #{{ question.number }}: <b>{{ question.text }}</b>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for answer in answers %}
            <div class="checkbox">
              <label><input type="checkbox" name="{{ prefix }}{{ forloop.counter }}" value="1">{{ answer }}</label>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Submit</button>
        <!--
        <a href="{{ question.prev }}" class="btn btn-light"><< Previous</a>
        <a href="{% url 'test:next' pk=question.test.id %}" class="btn btn-light">Next >></a>
        -->
    </form>
{% endblock %}

