.avatar{
    class: rounded-circle p-1 m-1;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.small-avatar{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.li-message{
    display:table;
    margin:200px auto 200px auto;
}

h1 {
    color: #ef6155
}